.App{
  background-color: hotpink;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}

input{
  background-color: aliceblue;
  padding: 0.6rem;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.top{
  display: flex;
  justify-content: space-around;
}

.center{
  margin: 0 auto;
}

.bottom{
  display: flex;
  justify-content: space-around;
}